<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a class="footer__logo" href="./">
        <img src="img/logo.svg" width="36" height="36" alt="Логотип" />
      </a>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#" target="_blank">API</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#" target="_blank">Terms of services</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#" target="_blank">Privacy Policy</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>