.header-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 8;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 82%);
  opacity: 0;
  transition: $menu-transition;

  &.is-active {
    opacity: 1;
  }
}

.menu {
  &__close {
    display: none;
    color: var(--label-colors-default-primary);
  }

  &__box-items {
    display: none;
  }

  &__logo {
    display: none;
  }
}

@media screen and (max-width: $menu-breakpoint) {
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 40;
    display: none;
    flex-direction: column;
    overflow: auto;
    padding: 24px 24px 64px;
    width: 100%;
    height: var(--window-height);
    max-width: 425px;
    background: var(--background-default-primary);
    opacity: 0;
    transform: translateX(-100%);
    transition: transform $menu-transition, opacity $menu-transition;
    scrollbar-width: thin;

    &__logo {
      display: block;
      align-self: center;
      margin-bottom: 34px;
      text-align: center;
    }

    &__box-items {
      display: block;
      margin-top: auto;
      padding: 0 12px;
    }

    &__link-box-item {
      @include mb(16px);

      padding: 12px;

      .link-box-item {
        &__logo img {
          width: 40px;
          height: 40px;
        }

        &__title {
          margin-bottom: 0;
          font-size: 16px;
        }
      }
    }

    &__close {
      display: block;
      margin-bottom: 20px;
    }

    &.is-active {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media (max-width: 500px) {
  .menu {
    max-width: 100%;
  }
}