.ticker {
  position: relative;
  overflow: hidden;
  font-family: $second-family;
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  text-transform: uppercase;

  &__wrapper {
    display: flex;
  }

  &__item {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-right: 24px;
    white-space: nowrap;
    animation: ticker 40s linear infinite;

    span {
      margin: 0 44px;
    }
  }
}

@keyframes ticker {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@media (max-width: $menu-breakpoint) {
  .ticker {
    font-size: 30px;

    &__item {
      span {
        margin: 0 32px;
      }
    }
  }
}

@media (max-width: 600px) {
  .ticker {
    font-size: 24px;

    &__item {
      span {
        margin: 0 16px;
      }
    }
  }
}