{% macro slider(title) %}

<div class="slider__head">
  <h3 class="slider__title title">{{ title }}</h3>
  <div class="slider__nav">
    <div class="slider__button-prev"></div>
    <div class="slider__button-next"></div>
  </div>
</div>

{% endmacro %}