{% set bg = "bg-primary" %}

{% extends "../templates/layouts/layout.njk" %}

{% block content %}
{% include "../blocks/hero.njk" %}
{% include "../blocks/possibilities.njk" %}
{% include "../blocks/benefits.njk" %}
{% include "../blocks/buy.njk" %}
{% include "../blocks/nft.njk" %}
{% include "../blocks/tokens.njk" %}
{% include "../blocks/start.njk" %}
{% include "../blocks/link-box.njk" %}
{% endblock content %}
{% block scripts2 %}
<script type="module">
  import { Application } from './runtime.js';
  const img = document.querySelector('.hero__img');
  window.addEventListener('load', function (e) {
    const canvas = document.getElementById('hero-canvas');
    const app = new Application(canvas);

    app.load('https://prod.spline.design/swp8gaO46NDXAoNM/scene.splinecode')
      .then(() => {
        img.classList.add('is-animate');
        setTimeout(() => {
          img.style.display = 'none';
        }, 200)
      });
  })
</script>
{% endblock scripts2 %}