{% set bg = "bg-primary" %}

{% extends "../templates/layouts/layout.njk" %}

{% block content %}
{% include "../blocks/hero.njk" %}
{% include "../blocks/possibilities.njk" %}
{% include "../blocks/benefits.njk" %}
{% include "../blocks/buy.njk" %}
{% include "../blocks/nft.njk" %}
{% include "../blocks/tokens.njk" %}
{% include "../blocks/start.njk" %}
{% include "../blocks/link-box.njk" %}
{% endblock content %}