<section class="buy section" id="buy">
  <div class="buy__wrapper">
    <div class="container">
      <div class="buy__inner">
        <div class="buy__content">
          <h3 class="buy__title subtitle">Покупайте, торгуйте и обменивайте</h3>
          <p class="buy__text">
            Управляйте своими криптовалютами в одном месте с помощью @xRocket
          </p>
          <a class="buy__btn btn" href="#" target="_blank">Открыть xRocket</a>
        </div>
        <div class="buy__img">
          <img loading="lazy" src="img/buy-1.png" width="360" height="296" alt="Открыть xRocket" />
        </div>
      </div>
    </div>
  </div>
</section>