<section class="faq" id="faq">
  <div class="container">
    <div class="faq__inner">
      <h2 class="faq__title title">Часто задаваемые вопросы</h2>
      <ul class="faq__list">
        <li class="faq__item">
          <button class="faq__head" aria-expanded="false" aria-label="Развернуть вопрос" title="Развернуть вопрос">
            <span class="faq__head-text">Часто задаваемые вопросы</span>
            <span class="faq__icon"></span>
          </button>
          <div class="faq__content">
            <p>Aliquam ac egestas justo. Ut iaculis metus et pretium pretium. Proin porttitor ante ut ipsum euismod
              sollicitudin. Aenean ac egestas mi, nec bibendum sapien. Cras euismod mi et vulputate dignissim. Donec
              quis enim vehicula, posuere arcu ut, gravida libero. </p>
          </div>
        </li>
        <li class="faq__item">
          <button class="faq__head" aria-expanded="false" aria-label="Развернуть вопрос" title="Развернуть вопрос">
            <span class="faq__head-text">Часто задаваемые вопросы</span>
            <span class="faq__icon"></span>
          </button>
          <div class="faq__content">
            <p>Aliquam ac egestas justo. Ut iaculis metus et pretium pretium. Proin porttitor ante ut ipsum euismod
              sollicitudin. Aenean ac egestas mi, nec bibendum sapien. Cras euismod mi et vulputate dignissim. Donec
              quis enim vehicula, posuere arcu ut, gravida libero. </p>
          </div>
        </li>
        <li class="faq__item">
          <button class="faq__head" aria-expanded="false" aria-label="Развернуть вопрос" title="Развернуть вопрос">
            <span class="faq__head-text">Часто задаваемые вопросы</span>
            <span class="faq__icon"></span>
          </button>
          <div class="faq__content">
            <p>Aliquam ac egestas justo. Ut iaculis metus et pretium pretium. Proin porttitor ante ut ipsum euismod
              sollicitudin. Aenean ac egestas mi, nec bibendum sapien. Cras euismod mi et vulputate dignissim. Donec
              quis enim vehicula, posuere arcu ut, gravida libero. </p>
          </div>
        </li>
        <li class="faq__item">
          <button class="faq__head" aria-expanded="false" aria-label="Развернуть вопрос" title="Развернуть вопрос">
            <span class="faq__head-text">Часто задаваемые вопросы</span>
            <span class="faq__icon"></span>
          </button>
          <div class="faq__content">
            <p>Aliquam ac egestas justo. Ut iaculis metus et pretium pretium. Proin porttitor ante ut ipsum euismod
              sollicitudin. Aenean ac egestas mi, nec bibendum sapien. Cras euismod mi et vulputate dignissim. Donec
              quis enim vehicula, posuere arcu ut, gravida libero. </p>
          </div>
        </li>
        <li class="faq__item">
          <button class="faq__head" aria-expanded="false" aria-label="Развернуть вопрос" title="Развернуть вопрос">
            <span class="faq__head-text">Часто задаваемые вопросы</span>
            <span class="faq__icon"></span>
          </button>
          <div class="faq__content">
            <p>Aliquam ac egestas justo. Ut iaculis metus et pretium pretium. Proin porttitor ante ut ipsum euismod
              sollicitudin. Aenean ac egestas mi, nec bibendum sapien. Cras euismod mi et vulputate dignissim. Donec
              quis enim vehicula, posuere arcu ut, gravida libero. </p>
          </div>
        </li>
        <li class="faq__item">
          <button class="faq__head" aria-expanded="false" aria-label="Развернуть вопрос" title="Развернуть вопрос">
            <span class="faq__head-text">Часто задаваемые вопросы</span>
            <span class="faq__icon"></span>
          </button>
          <div class="faq__content">
            <p>Aliquam ac egestas justo. Ut iaculis metus et pretium pretium. Proin porttitor ante ut ipsum euismod
              sollicitudin. Aenean ac egestas mi, nec bibendum sapien. Cras euismod mi et vulputate dignissim. Donec
              quis enim vehicula, posuere arcu ut, gravida libero. </p>
          </div>
        </li>
        <li class="faq__item">
          <button class="faq__head" aria-expanded="false" aria-label="Развернуть вопрос" title="Развернуть вопрос">
            <span class="faq__head-text">Часто задаваемые вопросы</span>
            <span class="faq__icon"></span>
          </button>
          <div class="faq__content">
            <p>Aliquam ac egestas justo. Ut iaculis metus et pretium pretium. Proin porttitor ante ut ipsum euismod
              sollicitudin. Aenean ac egestas mi, nec bibendum sapien. Cras euismod mi et vulputate dignissim. Donec
              quis enim vehicula, posuere arcu ut, gravida libero. </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>