<section class="fees">
  <div class="container">
    <div class="fees__inner">
      <h1 class="fees__title title-secondary">Комиссии и лимиты</h1>
      <div class="fees__box">
        <h3 class="fees__subtitle">Кошелек</h3>
        <div class="fees__table table">
          <table>
            <thead>
              <tr>
                <th class="table__num">#</th>
                <th style="min-width: 240px;">Название</th>
                <th>Сеть</th>
                <th>
                  Пополнение
                  <div class="table__caption">Комиссия сети</div>
                </th>
                <th>
                  Вывод
                  <div class="table__caption">Комиссия сети</div>
                </th>
                <th>
                  Комиссия за вывод
                  <div class="table__caption">Из кошелька</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo">
                      <img src="img/nft-2.jpg" width="28" height="28" alt="лого" />
                    </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td> Tron (TRC20)</td>
                <td>от 0.001 USDT</td>
                <td>от 0.000001 USDT
                </td>
                <td>3 USDT</td>
              </tr>
              <tr>
                <td class="table__num">2</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"></div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td> Tron (TRC20)</td>
                <td>от 0.001 USDT</td>
                <td>от 0.000001 USDT
                </td>
                <td>3 USDT</td>
              </tr>
              <tr>
                <td class="table__num">3</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"></div>
                    <p>Toncoin (TON)</p>
                  </div>
                </td>
                <td>The Open Network (TON)</td>
                <td>от 0.0000001 TON
                </td>
                <td>от 0.000000001 TON
                </td>
                <td>0.05 TON</td>
              </tr>
              <tr>
                <td class="table__num">4</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"></div>
                    <p>Tron (TRX)</p>
                  </div>
                </td>
                <td>Tron (TRC20)</td>
                <td>от 0.0001 TRX
                </td>
                <td>от 0.000001 TRX
                </td>
                <td>3 TRX</td>
              </tr>
              <tr>
                <td class="table__num">5</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"></div>
                    <p>Ethereum (ETH)</p>
                  </div>
                </td>
                <td>Ethereum (ERC20)</td>
                <td>от 0.000001 ETH
                </td>
                <td>0.000000001 ETH
                </td>
                <td>0.003 ETH</td>
              </tr>
              <tr>
                <td class="table__num">6</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"></div>
                    <p>Binance Coin (BNB)</p>
                  </div>
                </td>
                <td>Binance Smart Chain (BEP20)</td>
                <td>от 0.000001 BNB
                </td>
                <td>от 0.00000001 BNB
                </td>
                <td>0.004 BNB</td>
              </tr>
              <tr>
                <td colspan="6">
                  <p class="table__title">TON Jettons</p>
                </td>
              </tr>
              <tr>
                <td class="table__num">7</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"></div>
                    <p>ARBUZ</p>
                  </div>
                </td>
                <td>The Open Network (TON)</td>
                <td>от 0.000001 ETH
                </td>
                <td>0.000000001 ETH
                </td>
                <td>0.003 ETH</td>
              </tr>
              <tr>
              <tr>
                <td class="table__num">8</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"></div>
                    <p>DFC</p>
                  </div>
                </td>
                <td>The Open Network (TON)</td>
                <td>от 0.000001 BNB
                </td>
                <td>от 0.00000001 BNB
                </td>
                <td>0.004 BNB</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="fees__box">
        <h3 class="fees__subtitle">Биржа</h3>
        <div class="fees__table table">
          <table>
            <thead>
              <tr>
                <th class="table__num">#</th>
                <th style="min-width: 240px;">Название</th>
                <th>Объем ордера</th>
                <th>Комиссия тейкера</th>
                <th>Комиссия мэйкера</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td>от 0.1 USDT</td>
                <td>0.15%</td>
                <td>0.1%</td>
              </tr>
              <tr>
                <td class="table__num">2</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Toncoin (TON)</p>
                  </div>
                </td>
                <td>от 0.04 TON </td>
                <td>0.15%</td>
                <td>0.1%</td>
              </tr>
              <tr>
                <td class="table__num">3</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tron (TRX)</p>
                  </div>
                </td>
                <td>от 0.9 TRX
                </td>
                <td>0.15%</td>
                <td>0.1%</td>
              </tr>
              <tr>
                <td class="table__num">4</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Ethereum (ETH)</p>
                  </div>
                </td>
                <td>0.00004 ETH
                </td>
                <td>0.15%</td>
                <td>0.1%</td>
              </tr>
              <tr>
                <td class="table__num">5</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Binance Coin (BNB)</p>
                  </div>
                </td>
                <td>0.0003 BNB
                </td>
                <td>0.15%</td>
                <td>0.1%</td>
              </tr>
              <tr>
                <td colspan="5">
                  <p class="table__title">TON Jettons</p>
                </td>
              </tr>
              <tr>
                <td class="table__num">5</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>ARBUZ</p>
                  </div>
                </td>
                <td>0.00004 ARBUZ
                </td>
                <td>0.15%</td>
                <td>0.1%</td>
              </tr>
              <tr>
                <td class="table__num">5</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>DFC</p>
                  </div>
                </td>
                <td>0.0003 DFC
                </td>
                <td>0.15%</td>
                <td>0.1%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="fees__box">
        <h3 class="fees__subtitle">P2P маркет</h3>
        <div class="fees__table table">
          <table>
            <thead>
              <tr>
                <th class="table__num">#</th>
                <th style="min-width: 240px;">Название</th>
                <th>Объем объявления</th>
                <th>Комиссия с продажи</th>
                <th>Комиссия с покупки</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td>от 1 USDT</td>
                <td>1%</td>
                <td>0%</td>
              </tr>
              <tr>
                <td class="table__num">2</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Toncoin (TON)</p>
                  </div>
                </td>
                <td>от 0.4 TON</td>
                <td>1%</td>
                <td>0%</td>
              </tr>
              <tr>
                <td class="table__num">3</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tron (TRX)</p>
                  </div>
                </td>
                <td>от 9 TRX</td>
                <td>1%</td>
                <td>0%</td>
              </tr>
              <tr>
                <td class="table__num">4</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Ethereum (ETH)</p>
                  </div>
                </td>
                <td>от 0.0004 ETH</td>
                <td>1%</td>
                <td>0%</td>
              </tr>
              <tr>
                <td class="table__num">5</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Binance Coin (BNB)</p>
                  </div>
                </td>
                <td>от 0.003 BNB</td>
                <td>1%</td>
                <td>0%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="fees__box">
        <h3 class="fees__subtitle">Персональные чеки / Мультичеки / Rocket-чеки
        </h3>
        <div class="fees__table table">
          <table>
            <thead>
              <tr>
                <th class="table__num">#</th>
                <th style="min-width: 240px;">Название</th>
                <th>Сумма чека
                  <div class="table__caption">Персональные чеки</div>
                </th>
                <th style="min-width: 200px;">Сумма чека
                  <div class="table__caption"> Мультичеки / Rocket-чеки </div>
                </th>
                <th style="min-width: 240px;">Сумма чека для xRocket Drops
                  <div class="table__caption"> Мультичеки / Rocket-чеки </div>
                </th>
                <th style="min-width: 190px;">Одна активация
                  <div class="table__caption"> Мультичеки / Rocket-чеки </div>
                </th>
                <th style="min-width: 200px;">Цена одной подписки
                  <div class="table__caption"> Мультичеки / Rocket-чеки </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td>от 0.0001 USDT </td>
                <td>от 0.02 USDT </td>
                <td>от 20 USDT</td>
                <td>от 0.02 USDT </td>
                <td>от 0.01 USDT </td>
              </tr>
              <tr>
                <td class="table__num">2</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Toncoin (TON)</p>
                  </div>
                </td>
                <td>от 0.00004 TON </td>
                <td>от 0.0085 TON</td>
                <td>от 8.5 TON</td>
                <td>от 0.0085 TON
                </td>
                <td>от 0.004 TON
                </td>
              </tr>
              <tr>
                <td class="table__num">3</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tron (TRX)</p>
                  </div>
                </td>
                <td>от 0.0009 TRX
                </td>
                <td>от 0.15 TRX
                </td>
                <td>от 180 TRX</td>
                <td>от 0.15 TRX
                </td>
                <td>от 0.09 TRX
                </td>
              </tr>
              <tr>
                <td class="table__num">4</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tron (TRX)</p>
                  </div>
                </td>
                <td>от 0.0009 TRX
                </td>
                <td>от 0.15 TRX
                </td>
                <td>от 180 TRX</td>
                <td>от 0.15 TRX
                </td>
                <td>от 0.09 TRX
                </td>
              </tr>
              <tr>
                <td class="table__num">5</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tron (TRX)</p>
                  </div>
                </td>
                <td>от 0.0009 TRX
                </td>
                <td>от 0.15 TRX
                </td>
                <td>от 180 TRX</td>
                <td>от 0.15 TRX
                </td>
                <td>от 0.09 TRX
                </td>
              </tr>
              <tr>
                <td class="table__num">6</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tron (TRX)</p>
                  </div>
                </td>
                <td>от 0.0009 TRX
                </td>
                <td>от 0.15 TRX
                </td>
                <td>от 180 TRX</td>
                <td>от 0.15 TRX
                </td>
                <td>от 0.09 TRX
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <p class="table__title">TON Jettons</p>
                </td>
              </tr>
              <tr>
                <td class="table__num">6</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>ARBUZ</p>
                  </div>
                </td>
                <td>от 0.000025 ARBUZ
                </td>
                <td>от 0.0055 ARBUZ
                </td>
                <td>от 5.5 ARBUZ
                </td>
                <td>от 0.0055 ARBUZ
                </td>
                <td>от 0.0025 ARBUZ</td>
              </tr>
              <tr>
                <td class="table__num">7</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>DFC</p>
                  </div>
                </td>
                <td>от 0.00005 DFC </td>
                <td>от 0.01 DFC </td>
                <td>от 10 DFC</td>
                <td>от 0.01 DFC </td>
                <td>от 0.005 DFC </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="fees__box">
        <h3 class="fees__subtitle">RocketPay </h3>
        <div class="fees__table table">
          <table>
            <thead>
              <tr>
                <th class="table__num">#</th>
                <th style="min-width: 240px;">Название</th>
                <th style="min-width: 240px;">Сеть
                </th>
                <th>Сумма пополнения </th>
                <th>Сумма вывода</th>
                <th>Комиссия за входящие транзакции</th>
                <th>Вывод
                  <div class="table__caption"> Вывод в блокчейн </div>
                </th>
                <th>Комиссия вывода
                  <div class="table__caption"> Вывод в блокчейн </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td>Binance Smart Chain (BEP20)</td>
                <td>от 0.0001 USDT </td>
                <td>от 0.02 USDT </td>
                <td>от 20 USDT</td>
                <td>от 0.02 USDT </td>
                <td>от 0.01 USDT </td>
              </tr>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td>Binance Smart Chain (BEP20)</td>
                <td>от 0.0001 USDT </td>
                <td>от 0.02 USDT </td>
                <td>от 20 USDT</td>
                <td>от 0.02 USDT </td>
                <td>от 0.01 USDT </td>
              </tr>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td>Binance Smart Chain (BEP20)</td>
                <td>от 0.0001 USDT </td>
                <td>от 0.02 USDT </td>
                <td>от 20 USDT</td>
                <td>от 0.02 USDT </td>
                <td>от 0.01 USDT </td>
              </tr>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td>Binance Smart Chain (BEP20)</td>
                <td>от 0.0001 USDT </td>
                <td>от 0.02 USDT </td>
                <td>от 20 USDT</td>
                <td>от 0.02 USDT </td>
                <td>от 0.01 USDT </td>
              </tr>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td>Binance Smart Chain (BEP20)</td>
                <td>от 0.0001 USDT </td>
                <td>от 0.02 USDT </td>
                <td>от 20 USDT</td>
                <td>от 0.02 USDT </td>
                <td>от 0.01 USDT </td>
              </tr>
              <tr>
                <td colspan="8">
                  <p class="table__title">TON Jettons</p>
                </td>
              </tr>
              <tr>
                <td class="table__num">6</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>ARBUZ</p>
                  </div>
                </td>
                <td>The Open Network (TON)</td>
                <td>от 0.000025 ARBUZ
                </td>
                <td>от 0.0055 ARBUZ
                </td>
                <td>от 5.5 ARBUZ
                </td>
                <td>от 0.0055 ARBUZ
                </td>
                <td>от 0.0025 ARBUZ</td>
              </tr>
              <tr>
                <td class="table__num">7</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>DFC</p>
                  </div>
                </td>
                <td>The Open Network (TON)</td>
                <td>от 0.00005 DFC </td>
                <td>от 0.01 DFC </td>
                <td>от 10 DFC</td>
                <td>от 0.01 DFC </td>
                <td>от 0.005 DFC </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="fees__box">
        <h3 class="fees__subtitle">Прочее </h3>
        <div class="fees__table table">
          <table>
            <thead>
              <tr>
                <th class="table__num">#</th>
                <th style="min-width: 240px;">Название</th>
                <th>Сумма одной оплаты
                  <div class="table__caption"> Счета </div>
                </th>
                <th>Сумма одной оплаты
                  <div class="table__caption">Подписки</div>
                </th>
                <th>Сумма
                  <div class="table__caption"> Сделки </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td>от 0.0001 USDT</td>
                <td>от 0.5 USDT</td>
                <td>от 0.01 USDT</td>
              </tr>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td>от 0.0001 USDT</td>
                <td>от 0.5 USDT</td>
                <td>от 0.01 USDT</td>
              </tr>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td>от 0.0001 USDT</td>
                <td>от 0.5 USDT</td>
                <td>от 0.01 USDT</td>
              </tr>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td>от 0.0001 USDT</td>
                <td>от 0.5 USDT</td>
                <td>от 0.01 USDT</td>
              </tr>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td>от 0.0001 USDT</td>
                <td>от 0.5 USDT</td>
                <td>от 0.01 USDT</td>
              </tr>
              <tr>
                <td class="table__num">1</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>Tether (USDT)</p>
                  </div>
                </td>
                <td>от 0.0001 USDT</td>
                <td>от 0.5 USDT</td>
                <td>от 0.01 USDT</td>
              </tr>
              <tr>
                <td colspan="5">
                  <p class="table__title">TON Jettons</p>
                </td>
              </tr>
              <tr>
                <td class="table__num">6</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>ARBUZ</p>
                  </div>
                </td>
                <td>The Open Network (TON)</td>
                <td>от 0.000025 ARBUZ
                </td>
                <td>от 0.0055 ARBUZ
                </td>
              </tr>
              <tr>
                <td class="table__num">7</td>
                <td>
                  <div class="table__name">
                    <div class="table__logo"> </div>
                    <p>DFC</p>
                  </div>
                </td>
                <td>The Open Network (TON)</td>
                <td>от 0.00005 DFC </td>
                <td>от 0.01 DFC </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>