<section class="link-box" id="links">
  <div class="container">
    <div class="link-box__inner">
      <ul class="link-box__list">
        <li class="link-box__item link-box-item">
          <div class="link-box-item__logo">
            <img src="img/logo.svg" width="48" height="48" alt="Логотип xRocket" />
          </div>
          <a class="link-box-item__info" href="https://t.me/xRocket" target="_blank">
            <p class="link-box-item__title">xRocket Bot</p>
            <p class="link-box-item__subtitle">@xRocket</p>
          </a>
          <svg class="link-box-item__arrow" width="9" height="15" viewBox="0 0 9 15" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M1.5 1.5L7.5 7.5L1.5 13.5" stroke="#BFCBD8" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </li>
        <li class="link-box__item link-box-item">
          <div class="link-box-item__logo">
            <img src="img/logo-news.svg" width="48" height="48" alt="Логотип xRocketNews" />
          </div>
          <a class="link-box-item__info" href="https://t.me/xRocketNews" target="_blank">
            <p class="link-box-item__title">xRocket News</p>
            <p class="link-box-item__subtitle">@xRocketNews</p>
          </a>
          <svg class="link-box-item__arrow" width="9" height="15" viewBox="0 0 9 15" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M1.5 1.5L7.5 7.5L1.5 13.5" stroke="#BFCBD8" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>