<section class="nft section" id="nft">
  <div class="container">
    <div class="nft__inner">
      <h3 class="nft__title title">NFT Rocket Cosmonauts</h3>
      <p class="nft__subtitle">Коллекция NFT космонавтов предоставляет ряд преимуществ держателям</p>
      <div class="nft__row">
        <div class="nft__img">
          <img src="img/nft-1.jpg" width="368" height="552" alt="NFT изображение" />
        </div>
        <div class="nft__content">
          <div class="nft__content-info">
            <h4 class="nft__content-title title">1001 NFT</h4>
            <ul class="nft__tabs">
              <li class="nft__tab"><button class="nft__tab-btn is-active" data-tab="1">1 уровень</button></li>
              <li class="nft__tab"><button class="nft__tab-btn" data-tab="2">2 уровень</button></li>
              <li class="nft__tab"><button class="nft__tab-btn" data-tab="3">3 уровень</button></li>
            </ul>
            <div class="nft__tabs-content">
              <div class="nft__content-item is-active" data-tab="1">
                <ul class="nft__list">
                  <li>Скидка 20% на комиссии</li>
                  <li>3% реферальный бонус</li>
                  <li>0% комиссии для разработчиков
                    за транзакции жетонов через API.</li>
                </ul>
                <div class="nft__text">
                  <p>Все владельцы NFT получают бонусы в виде жетонов, которые могут быть размещены в @xRocket и имеют
                    право
                    голоса при принятии окончательного решения о их листинге.</p>
                </div>
                <a class="nft__btn btn" href="#" target="_blank">Купить NFT</a>
              </div>
              <div class="nft__content-item" data-tab="2">
                <ul class="nft__list">
                  <li>Скидка 25% на комиссии</li>
                  <li>4% реферальный бонус</li>
                  <li>0% комиссии для разработчиков
                    за транзакции жетонов через API.</li>
                </ul>
                <div class="nft__text">
                  <p>Все владельцы NFT получают бонусы в виде жетонов, которые могут быть размещены в @xRocket и имеют
                    право
                    голоса при принятии окончательного решения о их листинге.</p>
                </div>
                <a class="nft__btn btn" href="#" target="_blank">Купить NFT</a>
              </div>
              <div class="nft__content-item" data-tab="3">
                <ul class="nft__list">
                  <li>Скидка 30% на комиссии</li>
                  <li>6% реферальный бонус</li>
                  <li>0% комиссии для разработчиков
                    за транзакции жетонов через API.</li>
                </ul>
                <div class="nft__text">
                  <p>Все владельцы NFT получают бонусы в виде жетонов, которые могут быть размещены в @xRocket и имеют
                    право
                    голоса при принятии окончательного решения о их листинге.</p>
                </div>
                <a class="nft__btn btn" href="#" target="_blank">Купить NFT</a>
              </div>
            </div>
          </div>
          <div class="nft__line">
            <div class="nft__line-item">
              <div class="nft__line-img">
                <img src="img/nft-2.jpg" width="148" height="209" alt="" />
              </div>
              <div class="nft__line-img">
                <img src="img/nft-1.jpg" width="148" height="209" alt="" />
              </div>
              <div class="nft__line-img">
                <img src="img/nft-3.jpg" width="148" height="209" alt="" />
              </div>
              <div class="nft__line-img">
                <img src="img/nft-2.jpg" width="148" height="209" alt="" />
              </div>
              <div class="nft__line-img">
                <img src="img/nft-1.jpg" width="148" height="209" alt="" />
              </div>
              <div class="nft__line-img">
                <img src="img/nft-3.jpg" width="148" height="209" alt="" />
              </div>
            </div>
            <div class="nft__line-item">
              <div class="nft__line-img">
                <img src="img/nft-2.jpg" width="148" height="209" alt="" />
              </div>
              <div class="nft__line-img">
                <img src="img/nft-1.jpg" width="148" height="209" alt="" />
              </div>
              <div class="nft__line-img">
                <img src="img/nft-3.jpg" width="148" height="209" alt="" />
              </div>
              <div class="nft__line-img">
                <img src="img/nft-2.jpg" width="148" height="209" alt="" />
              </div>
              <div class="nft__line-img">
                <img src="img/nft-1.jpg" width="148" height="209" alt="" />
              </div>
              <div class="nft__line-img">
                <img src="img/nft-3.jpg" width="148" height="209" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>