<section class="pairs">
  <div class="container">
    <div class="pairs__inner">
      <div class="pairs__head">
        <h1 class="pairs__title title-secondary">Торговые пары</h1>
        <div class="pairs__search">

          <svg class="pairs__search-icon" width="24" height="25" viewBox="0 0 24 25" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3 10.5C3 11.4193 3.18106 12.3295 3.53284 13.1788C3.88463 14.0281 4.40024 14.7997 5.05025 15.4497C5.70026 16.0998 6.47194 16.6154 7.32122 16.9672C8.1705 17.3189 9.08075 17.5 10 17.5C10.9193 17.5 11.8295 17.3189 12.6788 16.9672C13.5281 16.6154 14.2997 16.0998 14.9497 15.4497C15.5998 14.7997 16.1154 14.0281 16.4672 13.1788C16.8189 12.3295 17 11.4193 17 10.5C17 9.58075 16.8189 8.6705 16.4672 7.82122C16.1154 6.97194 15.5998 6.20026 14.9497 5.55025C14.2997 4.90024 13.5281 4.38463 12.6788 4.03284C11.8295 3.68106 10.9193 3.5 10 3.5C9.08075 3.5 8.1705 3.68106 7.32122 4.03284C6.47194 4.38463 5.70026 4.90024 5.05025 5.55025C4.40024 6.20026 3.88463 6.97194 3.53284 7.82122C3.18106 8.6705 3 9.58075 3 10.5Z"
              stroke="#BFCBD8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M21 21.5L15 15.5" stroke="#BFCBD8" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <input class="pairs__search-input" type="text" placeholder="Поиск" />
        </div>
      </div>
      <div class="pairs__table table">
        <table>
          <thead>
            <tr>
              <th class="table__num">#</th>
              <th style="min-width: 230px;">Пара</th>
              <th> Последняя цена </th>
              <th>
                Максимум
                <div class="table__caption">24 часа</div>
              </th>
              <th>
                Минимум
                <div class="table__caption">24 часа</div>
              </th>
              <th>
                Объем
                <div class="table__caption">24 часа</div>
              </th>
              <th style="min-width: 200px;">
                Изменение
                <div class="table__caption">24 часа</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="table__accordion">
              <td class="table__num">1</td>
              <td>
                <div class="table__pairs">
                  <div class="table__pairs-logos">
                    <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                    <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                  </div>
                  <p>BNB/USDT</p>
                </div>
              </td>
              <td>
                313.3
                <div class="table__caption">$313,3</div>
              </td>
              <td> 315.6</td>
              <td> 307.7</td>
              <td>357,287.04 USDT</td>
              <td class="table__change">
                <div class="text-red">-1.47%</div>
              </td>
            </tr>
            <tr class="table__accordion-content table-content">
              <td colspan="7">
                <div class="table-content__row">
                  <div class="table-content__left">
                    <div class="table-content__pairs table__pairs">
                      <div class="table__pairs-logos">
                        <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                        <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                      </div>
                      <p>BNB/USDT</p>
                    </div>
                    <div class="table-content__text">
                      <p>BNB — это криптовалюта, которая поддерживает экосистему Binance Chain. BNB является одним из
                        самых
                        популярных utility-токенов в мире. Вы можете не только торговать BNB, как и любой другой
                        криптовалютой, но и использовать BNB для самого широкого спектра дополнительных преимуществ.</p>
                    </div>
                    <ul class="table-content__socials">
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-1.svg');"></span>
                          Официальный сайт
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-2.svg');"></span>
                          Twitter
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-3.svg');"></span>
                          Telegram
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-4.svg');"></span>
                          Github
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-5.svg');"></span>
                          Block Explorer
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="table-content__right">
                    <table class="table-content__table">
                      <tbody>
                        <tr>
                          <th>Символ</th>
                          <td>BNB (BEP20)</td>
                        </tr>
                        <tr>
                          <th>Сеть</th>
                          <td>Binance Smart Chain</td>
                        </tr>
                        <tr>
                          <th>Дата выпуска</th>
                          <td>01-11-2011</td>
                        </tr>
                        <tr>
                          <th>Общее предложение</th>
                          <td>21 000 000</td>
                        </tr>
                        <tr>
                          <th>Циркулирующее предложение</th>
                          <td>19 602 431</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="table__accordion">
              <td class="table__num">1</td>
              <td>
                <div class="table__pairs">
                  <div class="table__pairs-logos">
                    <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                    <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                  </div>
                  <p>BNB/USDT</p>
                </div>
              </td>
              <td>
                313.3
                <div class="table__caption">$313,3</div>
              </td>
              <td> 315.6</td>
              <td> 307.7</td>
              <td>357,287.04 USDT</td>
              <td class="table__change">
                <div class="text-green">+1.47%</div>
              </td>
            </tr>
            <tr class="table__accordion-content table-content">
              <td colspan="7">
                <div class="table-content__row">
                  <div class="table-content__left">
                    <div class="table-content__pairs table__pairs">
                      <div class="table__pairs-logos">
                        <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                        <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                      </div>
                      <p>BNB/USDT</p>
                    </div>
                    <div class="table-content__text">
                      <p>BNB — это криптовалюта, которая поддерживает экосистему Binance Chain. BNB является одним из
                        самых
                        популярных utility-токенов в мире. Вы можете не только торговать BNB, как и любой другой
                        криптовалютой, но и использовать BNB для самого широкого спектра дополнительных преимуществ.</p>
                    </div>
                    <ul class="table-content__socials">
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-1.svg');"></span>
                          Официальный сайт
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-2.svg');"></span>
                          Twitter
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-3.svg');"></span>
                          Telegram
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-4.svg');"></span>
                          Github
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-5.svg');"></span>
                          Block Explorer
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="table-content__right">
                    <table class="table-content__table">
                      <tbody>
                        <tr>
                          <th>Символ</th>
                          <td>BNB (BEP20)</td>
                        </tr>
                        <tr>
                          <th>Сеть</th>
                          <td>Binance Smart Chain</td>
                        </tr>
                        <tr>
                          <th>Дата выпуска</th>
                          <td>01-11-2011</td>
                        </tr>
                        <tr>
                          <th>Общее предложение</th>
                          <td>21 000 000</td>
                        </tr>
                        <tr>
                          <th>Циркулирующее предложение</th>
                          <td>19 602 431</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="table__accordion">
              <td class="table__num">1</td>
              <td>
                <div class="table__pairs">
                  <div class="table__pairs-logos">
                    <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                    <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                  </div>
                  <p>BNB/USDT</p>
                </div>
              </td>
              <td>
                313.3
                <div class="table__caption">$313,3</div>
              </td>
              <td> 315.6</td>
              <td> 307.7</td>
              <td>357,287.04 USDT</td>
              <td class="table__change">
                <div class="text-red">-1.47%</div>
              </td>
            </tr>
            <tr class="table__accordion-content table-content">
              <td colspan="7">
                <div class="table-content__row">
                  <div class="table-content__left">
                    <div class="table-content__pairs table__pairs">
                      <div class="table__pairs-logos">
                        <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                        <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                      </div>
                      <p>BNB/USDT</p>
                    </div>
                    <div class="table-content__text">
                      <p>BNB — это криптовалюта, которая поддерживает экосистему Binance Chain. BNB является одним из
                        самых
                        популярных utility-токенов в мире. Вы можете не только торговать BNB, как и любой другой
                        криптовалютой, но и использовать BNB для самого широкого спектра дополнительных преимуществ.</p>
                    </div>
                    <ul class="table-content__socials">
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-1.svg');"></span>
                          Официальный сайт
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-2.svg');"></span>
                          Twitter
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-3.svg');"></span>
                          Telegram
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-4.svg');"></span>
                          Github
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-5.svg');"></span>
                          Block Explorer
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="table-content__right">
                    <table class="table-content__table">
                      <tbody>
                        <tr>
                          <th>Символ</th>
                          <td>BNB (BEP20)</td>
                        </tr>
                        <tr>
                          <th>Сеть</th>
                          <td>Binance Smart Chain</td>
                        </tr>
                        <tr>
                          <th>Дата выпуска</th>
                          <td>01-11-2011</td>
                        </tr>
                        <tr>
                          <th>Общее предложение</th>
                          <td>21 000 000</td>
                        </tr>
                        <tr>
                          <th>Циркулирующее предложение</th>
                          <td>19 602 431</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="table__accordion">
              <td class="table__num">1</td>
              <td>
                <div class="table__pairs">
                  <div class="table__pairs-logos">
                    <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                    <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                  </div>
                  <p>BNB/USDT</p>
                </div>
              </td>
              <td>
                313.3
                <div class="table__caption">$313,3</div>
              </td>
              <td> 315.6</td>
              <td> 307.7</td>
              <td>357,287.04 USDT</td>
              <td class="table__change">
                <div class="text-green">+1.47%</div>
              </td>
            </tr>
            <tr class="table__accordion-content table-content">
              <td colspan="7">
                <div class="table-content__row">
                  <div class="table-content__left">
                    <div class="table-content__pairs table__pairs">
                      <div class="table__pairs-logos">
                        <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                        <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                      </div>
                      <p>BNB/USDT</p>
                    </div>
                    <div class="table-content__text">
                      <p>BNB — это криптовалюта, которая поддерживает экосистему Binance Chain. BNB является одним из
                        самых
                        популярных utility-токенов в мире. Вы можете не только торговать BNB, как и любой другой
                        криптовалютой, но и использовать BNB для самого широкого спектра дополнительных преимуществ.</p>
                    </div>
                    <ul class="table-content__socials">
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-1.svg');"></span>
                          Официальный сайт
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-2.svg');"></span>
                          Twitter
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-3.svg');"></span>
                          Telegram
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-4.svg');"></span>
                          Github
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-5.svg');"></span>
                          Block Explorer
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="table-content__right">
                    <table class="table-content__table">
                      <tbody>
                        <tr>
                          <th>Символ</th>
                          <td>BNB (BEP20)</td>
                        </tr>
                        <tr>
                          <th>Сеть</th>
                          <td>Binance Smart Chain</td>
                        </tr>
                        <tr>
                          <th>Дата выпуска</th>
                          <td>01-11-2011</td>
                        </tr>
                        <tr>
                          <th>Общее предложение</th>
                          <td>21 000 000</td>
                        </tr>
                        <tr>
                          <th>Циркулирующее предложение</th>
                          <td>19 602 431</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="table__accordion">
              <td class="table__num">1</td>
              <td>
                <div class="table__pairs">
                  <div class="table__pairs-logos">
                    <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                    <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                  </div>
                  <p>BNB/USDT</p>
                </div>
              </td>
              <td>
                313.3
                <div class="table__caption">$313,3</div>
              </td>
              <td> 315.6</td>
              <td> 307.7</td>
              <td>357,287.04 USDT</td>
              <td class="table__change">
                <div class="text-red">-1.47%</div>
              </td>
            </tr>
            <tr class="table__accordion-content table-content">
              <td colspan="7">
                <div class="table-content__row">
                  <div class="table-content__left">
                    <div class="table-content__pairs table__pairs">
                      <div class="table__pairs-logos">
                        <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                        <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                      </div>
                      <p>BNB/USDT</p>
                    </div>
                    <div class="table-content__text">
                      <p>BNB — это криптовалюта, которая поддерживает экосистему Binance Chain. BNB является одним из
                        самых
                        популярных utility-токенов в мире. Вы можете не только торговать BNB, как и любой другой
                        криптовалютой, но и использовать BNB для самого широкого спектра дополнительных преимуществ.</p>
                    </div>
                    <ul class="table-content__socials">
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-1.svg');"></span>
                          Официальный сайт
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-2.svg');"></span>
                          Twitter
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-3.svg');"></span>
                          Telegram
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-4.svg');"></span>
                          Github
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-5.svg');"></span>
                          Block Explorer
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="table-content__right">
                    <table class="table-content__table">
                      <tbody>
                        <tr>
                          <th>Символ</th>
                          <td>BNB (BEP20)</td>
                        </tr>
                        <tr>
                          <th>Сеть</th>
                          <td>Binance Smart Chain</td>
                        </tr>
                        <tr>
                          <th>Дата выпуска</th>
                          <td>01-11-2011</td>
                        </tr>
                        <tr>
                          <th>Общее предложение</th>
                          <td>21 000 000</td>
                        </tr>
                        <tr>
                          <th>Циркулирующее предложение</th>
                          <td>19 602 431</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="table__accordion">
              <td class="table__num">1</td>
              <td>
                <div class="table__pairs">
                  <div class="table__pairs-logos">
                    <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                    <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                  </div>
                  <p>BNB/USDT</p>
                </div>
              </td>
              <td>
                313.3
                <div class="table__caption">$313,3</div>
              </td>
              <td> 315.6</td>
              <td> 307.7</td>
              <td>357,287.04 USDT</td>
              <td class="table__change">
                <div class="text-green">+1.47%</div>
              </td>
            </tr>
            <tr class="table__accordion-content table-content">
              <td colspan="7">
                <div class="table-content__row">
                  <div class="table-content__left">
                    <div class="table-content__pairs table__pairs">
                      <div class="table__pairs-logos">
                        <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                        <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                      </div>
                      <p>BNB/USDT</p>
                    </div>
                    <div class="table-content__text">
                      <p>BNB — это криптовалюта, которая поддерживает экосистему Binance Chain. BNB является одним из
                        самых
                        популярных utility-токенов в мире. Вы можете не только торговать BNB, как и любой другой
                        криптовалютой, но и использовать BNB для самого широкого спектра дополнительных преимуществ.</p>
                    </div>
                    <ul class="table-content__socials">
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-1.svg');"></span>
                          Официальный сайт
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-2.svg');"></span>
                          Twitter
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-3.svg');"></span>
                          Telegram
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-4.svg');"></span>
                          Github
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-5.svg');"></span>
                          Block Explorer
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="table-content__right">
                    <table class="table-content__table">
                      <tbody>
                        <tr>
                          <th>Символ</th>
                          <td>BNB (BEP20)</td>
                        </tr>
                        <tr>
                          <th>Сеть</th>
                          <td>Binance Smart Chain</td>
                        </tr>
                        <tr>
                          <th>Дата выпуска</th>
                          <td>01-11-2011</td>
                        </tr>
                        <tr>
                          <th>Общее предложение</th>
                          <td>21 000 000</td>
                        </tr>
                        <tr>
                          <th>Циркулирующее предложение</th>
                          <td>19 602 431</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="table__accordion">
              <td class="table__num">1</td>
              <td>
                <div class="table__pairs">
                  <div class="table__pairs-logos">
                    <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                    <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                  </div>
                  <p>BNB/USDT</p>
                </div>
              </td>
              <td>
                313.3
                <div class="table__caption">$313,3</div>
              </td>
              <td> 315.6</td>
              <td> 307.7</td>
              <td>357,287.04 USDT</td>
              <td class="table__change">
                <div class="text-red">-1.47%</div>
              </td>
            </tr>
            <tr class="table__accordion-content table-content">
              <td colspan="7">
                <div class="table-content__row">
                  <div class="table-content__left">
                    <div class="table-content__pairs table__pairs">
                      <div class="table__pairs-logos">
                        <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                        <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                      </div>
                      <p>BNB/USDT</p>
                    </div>
                    <div class="table-content__text">
                      <p>BNB — это криптовалюта, которая поддерживает экосистему Binance Chain. BNB является одним из
                        самых
                        популярных utility-токенов в мире. Вы можете не только торговать BNB, как и любой другой
                        криптовалютой, но и использовать BNB для самого широкого спектра дополнительных преимуществ.</p>
                    </div>
                    <ul class="table-content__socials">
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-1.svg');"></span>
                          Официальный сайт
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-2.svg');"></span>
                          Twitter
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-3.svg');"></span>
                          Telegram
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-4.svg');"></span>
                          Github
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-5.svg');"></span>
                          Block Explorer
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="table-content__right">
                    <table class="table-content__table">
                      <tbody>
                        <tr>
                          <th>Символ</th>
                          <td>BNB (BEP20)</td>
                        </tr>
                        <tr>
                          <th>Сеть</th>
                          <td>Binance Smart Chain</td>
                        </tr>
                        <tr>
                          <th>Дата выпуска</th>
                          <td>01-11-2011</td>
                        </tr>
                        <tr>
                          <th>Общее предложение</th>
                          <td>21 000 000</td>
                        </tr>
                        <tr>
                          <th>Циркулирующее предложение</th>
                          <td>19 602 431</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="table__accordion">
              <td class="table__num">1</td>
              <td>
                <div class="table__pairs">
                  <div class="table__pairs-logos">
                    <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                    <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                  </div>
                  <p>BNB/USDT</p>
                </div>
              </td>
              <td>
                313.3
                <div class="table__caption">$313,3</div>
              </td>
              <td> 315.6</td>
              <td> 307.7</td>
              <td>357,287.04 USDT</td>
              <td class="table__change">
                <div class="text-green">+1.47%</div>
              </td>
            </tr>
            <tr class="table__accordion-content table-content">
              <td colspan="7">
                <div class="table-content__row">
                  <div class="table-content__left">
                    <div class="table-content__pairs table__pairs">
                      <div class="table__pairs-logos">
                        <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                        <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                      </div>
                      <p>BNB/USDT</p>
                    </div>
                    <div class="table-content__text">
                      <p>BNB — это криптовалюта, которая поддерживает экосистему Binance Chain. BNB является одним из
                        самых
                        популярных utility-токенов в мире. Вы можете не только торговать BNB, как и любой другой
                        криптовалютой, но и использовать BNB для самого широкого спектра дополнительных преимуществ.</p>
                    </div>
                    <ul class="table-content__socials">
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-1.svg');"></span>
                          Официальный сайт
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-2.svg');"></span>
                          Twitter
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-3.svg');"></span>
                          Telegram
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-4.svg');"></span>
                          Github
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-5.svg');"></span>
                          Block Explorer
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="table-content__right">
                    <table class="table-content__table">
                      <tbody>
                        <tr>
                          <th>Символ</th>
                          <td>BNB (BEP20)</td>
                        </tr>
                        <tr>
                          <th>Сеть</th>
                          <td>Binance Smart Chain</td>
                        </tr>
                        <tr>
                          <th>Дата выпуска</th>
                          <td>01-11-2011</td>
                        </tr>
                        <tr>
                          <th>Общее предложение</th>
                          <td>21 000 000</td>
                        </tr>
                        <tr>
                          <th>Циркулирующее предложение</th>
                          <td>19 602 431</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="table__accordion">
              <td class="table__num">1</td>
              <td>
                <div class="table__pairs">
                  <div class="table__pairs-logos">
                    <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                    <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                  </div>
                  <p>BNB/USDT</p>
                </div>
              </td>
              <td>
                313.3
                <div class="table__caption">$313,3</div>
              </td>
              <td> 315.6</td>
              <td> 307.7</td>
              <td>357,287.04 USDT</td>
              <td class="table__change">
                <div class="text-red">-1.47%</div>
              </td>
            </tr>
            <tr class="table__accordion-content table-content">
              <td colspan="7">
                <div class="table-content__row">
                  <div class="table-content__left">
                    <div class="table-content__pairs table__pairs">
                      <div class="table__pairs-logos">
                        <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                        <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                      </div>
                      <p>BNB/USDT</p>
                    </div>
                    <div class="table-content__text">
                      <p>BNB — это криптовалюта, которая поддерживает экосистему Binance Chain. BNB является одним из
                        самых
                        популярных utility-токенов в мире. Вы можете не только торговать BNB, как и любой другой
                        криптовалютой, но и использовать BNB для самого широкого спектра дополнительных преимуществ.</p>
                    </div>
                    <ul class="table-content__socials">
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-1.svg');"></span>
                          Официальный сайт
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-2.svg');"></span>
                          Twitter
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-3.svg');"></span>
                          Telegram
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-4.svg');"></span>
                          Github
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-5.svg');"></span>
                          Block Explorer
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="table-content__right">
                    <table class="table-content__table">
                      <tbody>
                        <tr>
                          <th>Символ</th>
                          <td>BNB (BEP20)</td>
                        </tr>
                        <tr>
                          <th>Сеть</th>
                          <td>Binance Smart Chain</td>
                        </tr>
                        <tr>
                          <th>Дата выпуска</th>
                          <td>01-11-2011</td>
                        </tr>
                        <tr>
                          <th>Общее предложение</th>
                          <td>21 000 000</td>
                        </tr>
                        <tr>
                          <th>Циркулирующее предложение</th>
                          <td>19 602 431</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="table__accordion">
              <td class="table__num">1</td>
              <td>
                <div class="table__pairs">
                  <div class="table__pairs-logos">
                    <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                    <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                  </div>
                  <p>BNB/USDT</p>
                </div>
              </td>
              <td>
                313.3
                <div class="table__caption">$313,3</div>
              </td>
              <td> 315.6</td>
              <td> 307.7</td>
              <td>357,287.04 USDT</td>
              <td class="table__change">
                <div class="text-green">+1.47%</div>
              </td>
            </tr>
            <tr class="table__accordion-content table-content">
              <td colspan="7">
                <div class="table-content__row">
                  <div class="table-content__left">
                    <div class="table-content__pairs table__pairs">
                      <div class="table__pairs-logos">
                        <img width="28" height="28" src="img/pairs-token-1.png" alt="coin" />
                        <img width="28" height="28" src="img/pairs-token-2.png" alt="coin" />
                      </div>
                      <p>BNB/USDT</p>
                    </div>
                    <div class="table-content__text">
                      <p>BNB — это криптовалюта, которая поддерживает экосистему Binance Chain. BNB является одним из
                        самых
                        популярных utility-токенов в мире. Вы можете не только торговать BNB, как и любой другой
                        криптовалютой, но и использовать BNB для самого широкого спектра дополнительных преимуществ.</p>
                    </div>
                    <ul class="table-content__socials">
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-1.svg');"></span>
                          Официальный сайт
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-2.svg');"></span>
                          Twitter
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-3.svg');"></span>
                          Telegram
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-4.svg');"></span>
                          Github
                        </a>
                      </li>
                      <li>
                        <a href="#" target="_blank">
                          <span class="table-content__socials-icon"
                            style="background-image: url('img/table-icon-5.svg');"></span>
                          Block Explorer
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="table-content__right">
                    <table class="table-content__table">
                      <tbody>
                        <tr>
                          <th>Символ</th>
                          <td>BNB (BEP20)</td>
                        </tr>
                        <tr>
                          <th>Сеть</th>
                          <td>Binance Smart Chain</td>
                        </tr>
                        <tr>
                          <th>Дата выпуска</th>
                          <td>01-11-2011</td>
                        </tr>
                        <tr>
                          <th>Общее предложение</th>
                          <td>21 000 000</td>
                        </tr>
                        <tr>
                          <th>Циркулирующее предложение</th>
                          <td>19 602 431</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>