<section class="possibilities section" id="possibilities">
  <div class="container">
    <div class="possibilities__inner">
      <h2 class="possibilities__title title">Возможности</h2>
      <div class="possibilities__slider">
        <ul class="possibilities__nav">
          <li class="possibilities__tab is-active">Трейдинг</li>
          <li class="possibilities__tab">Чеки</li>
          <li class="possibilities__tab">Счета</li>
          <li class="possibilities__tab">Подписки</li>
          <li class="possibilities__tab">Отправка</li>
          <li class="possibilities__tab">Хранение</li>
          <li class="possibilities__tab">Покупка</li>
        </ul>
        <div class="possibilities__slider-body">
          <div class="possibilities__main splide">
            <div class="splide__arrows">
              <button class="splide__arrow splide__arrow--prev">
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.6667 28L25.6667 42" stroke="#BFCBD8" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M11.6667 28L25.6667 14" stroke="#BFCBD8" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </button>
              <button class="splide__arrow splide__arrow--next">
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M30.3333 42L44.3333 28" stroke="#BFCBD8" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M30.3333 14L44.3333 28" stroke="#BFCBD8" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </button>
            </div>
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <div class="possibilities__img">
                    <img loading="lazy" src="img/possibilities-1.png" width="326" height="432"
                      alt="демонстрация xRocket на смартфоне" />
                  </div>

                </li>
                <li class="splide__slide">
                  <div class="possibilities__img">
                    <img loading="lazy" src="img/possibilities-2.png" width="326" height="432"
                      alt="демонстрация xRocket на смартфоне" />
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="possibilities__img">
                    <img loading="lazy" src="img/possibilities-3.png" width="326" height="432"
                      alt="демонстрация xRocket на смартфоне" />
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="possibilities__img">
                    <img loading="lazy" src="img/possibilities-4.png" width="326" height="432"
                      alt="демонстрация xRocket на смартфоне" />
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="possibilities__img">
                    <img loading="lazy" src="img/possibilities-5.png" width="326" height="432"
                      alt="демонстрация xRocket на смартфоне" />
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="possibilities__img">
                    <img loading="lazy" src="img/possibilities-6.png" width="326" height="432"
                      alt="демонстрация xRocket на смартфоне" />
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="possibilities__img">
                    <img loading="lazy" src="img/possibilities-7.png" width="326" height="432"
                      alt="демонстрация xRocket на смартфоне" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="possibilities__info splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <div class="possibilities__item">
                    <p class="possibilities__item-title subtitle">Успешный трейдинг с xRocket</p>
                    <p class="possibilities__text">
                      Наслаждайтесь легким процессом трейдинга и превращайте
                      ваши торговые идеи в выгоды с помощью экрана спотовой торговли.
                    </p>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="possibilities__item">
                    <p class="possibilities__item-title subtitle">Расширяйте свою аудиторию</p>
                    <p class="possibilities__text">
                      Чеки позволяют отправлять криптовалюту любым телеграм пользователям.
                      Используйте рокет-чеки для раздачи криптовалют в своих каналах,
                      чтобы привлечь больше новых подписчиков.
                    </p>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="possibilities__item">
                    <p class="possibilities__item-title subtitle">Получайте оплаты с помощью счетов</p>
                    <p class="possibilities__text">
                      Создавайте одноразовые или многоразовые криптовалютные счета,
                      отправляйте их своим телеграм контактам и получайте мгновенные оплаты.
                    </p>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="possibilities__item">
                    <p class="possibilities__item-title subtitle">Монетизируйте ваш контент</p>
                    <p class="possibilities__text">
                      Cоздавайте платные подписки на Ваши приватные каналы или группы.
                      xRocket будет обрабатывать платежи и управлять доступом, позволяя Вам
                      сосредоточиться на создании качественного контента.
                    </p>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="possibilities__item">
                    <p class="possibilities__item-title subtitle"> Выводите на любые кошельки</p>
                    <p class="possibilities__text">
                      Выводите криптовалюты на любые сторонние кошельки и отправляйте
                      ее своим контактам в Telegram, быстро, удобно и безопасно.
                    </p>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="possibilities__item">
                    <p class="possibilities__item-title subtitle"> Храните безопасно</p>
                    <p class="possibilities__text">
                      xRocket обеспечивает надежное хранение криптовалюты
                      и поддерживает множество сетей и токенов - от биткойна до TON Jettons
                    </p>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="possibilities__item">
                    <p class="possibilities__item-title subtitle">Покупайте через банковскую карту </p>
                    <p class="possibilities__text">
                      Приобретайте криптовалюту напрямую с карты,
                      выбирайте лучшие предложения на P2P маркете, взаимодействуйте напрямую с продавцами
                      и покупателями, не беспокоясь о безопасности своих средств
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="possibilities__btn-wrapper">
        <a class="possibilities__btn btn" href="#" target="_blank">Открыть xRocket</a>
      </div>
    </div>
  </div>
</section>