<section class="start section" id="start">
  <div class="container">
    <div class="start__inner">
      <div class="start__logo">
        <img src="img/logo.svg" width="80" height="80" alt="xRocket logo" />
      </div>
      <div class="start__info">
        <h3 class="start__title subtitle">Готовы приступить?</h3>
        <p class="start__text">
          Мы верим в мир, где каждый может совершать транзакции легко
          и безопасно, используя потенциал криптовалюты.
        </p>
      </div>
      <div class="start__buttons">
        <a class="start__btn btn" href="#" target="_blank">Открыть xRocket</a>
        <a class="start__btn btn-transparent" href="#" target="_blank">Документация API</a>
      </div>
    </div>
  </div>
</section>