<section class="tokens section" id="tokens">
  <div class="container">
    <div class="tokens__inner">
      <h3 class="tokens__title title">Все ваши любимые сети</h3>
      <p class="tokens__text">Мы понимаем, что ваш портфель уникален, именно поэтому мы предлагаем широкий выбор монет и
        жетонов для торговли в нашем телеграм-боте</p>
      <ul class="tokens__list">
        <li class="tokens__item"> <img src="img/tokens-1.png" width="64" height="64" alt="Bitcoin" /></li>
        <li class="tokens__item"> <img src="img/tokens-2.png" width="64" height="64" alt="Ethereum" /></li>
        <li class="tokens__item"> <img src="img/tokens-3.png" width="64" height="64" alt="TRON" /></li>
        <li class="tokens__item"> <img src="img/tokens-4.png" width="64" height="64" alt="TON" /></li>
        <li class="tokens__item"> <img src="img/tokens-5.png" width="64" height="64" alt="Binance" /></li>
        <li class="tokens__item"> <img src="img/tokens-6.png" width="64" height="64" alt="USDT" /></li>
      </ul>
    </div>
  </div>
</section>